@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:Noto ;
    src: url('../browser-extensions-manager-ui-main/assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}
@font-face{
    font-family: NotoBold;
    src: url('../browser-extensions-manager-ui-main/assets/fonts/static/NotoSans-Bold.ttf');
}

*:focus{
    @apply outline-Red700   outline-double outline-2 ;
}
/*Background color */

.darkcolorTheme{
    @apply dark:bg-gradient-to-b dark:from-[#040918fa] dark:to-[#091540] bg-no-repeat;
}
.lightcolorTheme{
    @apply bg-gradient-to-b from-[#EBF2FC] to-[#EEF8F9] bg-no-repeat  text-Neutral900 md:*:w-[90%] *:w-[95%] font-Noto h-screen flex  items-center flex-col ;
} 

/*Filter button Style*/
.btn_filterList{
    @apply  flex justify-between sm:justify-between sm:w-1/4 w-[90%] *:rounded-full  md:*:py-1 md:*:px-3 *:py-1 *:px-3 *:text-xl sm:*:text-sm;

}
.btn_filterList>*{
    @apply dark:bg-Neutral700 bg-white 
}
.mod{
    @apply bg-Red700 text-white dark:bg-Red400 dark:text-Neutral900
}
.btn_filterList>*:hover{
    @apply dark:bg-Neutral600 opacity-80;
}
 #icon_sun{
    @apply dark:hover:bg-Neutral600  hover:bg-Red500 hover:cursor-pointer hover:text-white;
}

/*Card styling */
p{
    @apply md:text-[12px] text-[16px];
}
.card{
    @apply  md:h-full  w-full h-[90%] dark:bg-Neutral700 dark:text-Neutral200;
}
.card h1{
    @apply md:text-[16px] text-[20px];
}
.card button{
    @apply text-[12px]
}
.removed{
    @apply hidden
}
