@media screen and (max-width:900px){
   nav, .Log-reg-btn{
        display: none;
    }
    header #Burger_icon{
        display: block;
    }
    section{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    section div{
        width: 100%;
    }
    
    .leftside{
        order: 2;
    }
    /*Gerer la specifite des selecteurs plus tard*/
    section .image-profile:first-child{
        display: none;
    }
    section .img-profile img:last-child{
        display: block;
    }
}