/*
*** Breakpoint for screen under 900px 
*/
@media screen and (max-width:900px)
{
    body{
        overflow-y: auto;   
    }
    #header{
        position: relative;
    }
    #header #nav-bar{
        position: absolute;
        display: flex;
        width: 65%;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        right: 0;
        top: 0;
        background-color: #fff;
        display: none;

    }
    
    
    #header #nav-bar>*:not(img){
        flex-basis: 17%;

    }
    #nav-bar .nav-link{
        flex-direction: column;
        gap: 10%;
    }
    
    #nav-bar .nav-link ul>*{
        margin-block: 1rem;
    }

    #nav-bar .Log-reg-btn{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Log-reg-btn button:last-child{
        background: var(--AlmostBlack);
        color: var(--AlmostWhite);
    }
    .about__{
        flex-direction: column;
    }
     #nav-bar>img{
        display: block;
        width: 10%;
        align-self: end;
        margin: 10%;
    }
    header #Burger_icon{
        display: block;
    }
    section{
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    section div{
        width: 100%;
    }
    main{
        align-items: center;
        text-align: center;
    }
    br{
        display: none;
    }
    .leftside{
        order: 2;
        align-items: center;
    }
    
    section .img-profile img:last-child{
        display: block;
    }
    section #Desk{
        display: none;
    }
    section .leftside button{
        background-color: var(--AlmostBlack);
        color: #fff;
        
    }
}

/*
*** Break-point for screen over 900px
*/
@media screen and (min-width:901px)
{
    .features ul, .company ul{
        width: 15%;
        padding-block: 1.5rem;
        border-radius: .5rem;
        border: transparent;
        box-shadow: rgb(177, 176, 176) 1px 1px 1rem ;
        position:absolute;
        transform: translateY(7.5%);
        background: white;
        
    }
    .features ul li , .company ul li  {
        margin: 1rem auto ;
    }
}