@import url(variables.css);
@import url(mediaquery.css);
@import url(font);
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*some test*/
a, button{
    cursor: pointer;
}
#Burger_icon{
    display: none;
}
.img-profile img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.img-profile img:last-child , .close-img{
    display: none;
}
/*Starting  Now*/
body{
    font-family: var(--EpilogueNormal);
    font-size: 18px;
    background: var(--AlmostWhite);
    overflow-x: hidden;
}
header{
    height: 20%;
    padding: 2rem;
}
#Logo-nav{
    width: 75%;
    display: flex;
    flex-wrap: nowrap;
    gap:1em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-bar{
    width: 90%;
}
#nav-bar a{
    position: relative;
    margin-inline: 5%;
    color:var(--MediumGray);
    text-decoration: none;
    transition: all 1s ease 3ms;
    
}
#nav-bar .row::after{
  content: url(./images/icon-arrow-down.svg);
  margin-inline: .4em;
  position: absolute;
  bottom: 5%;
  transform: translatey(-5%);
}

#nav-bar a:hover, button:hover{
    color: var(--AlmostBlack);
    font-family: var(--EpilogueBold);
}

/*Head Buttons*/

.Log-reg-btn>*, main button{
    outline: none;
    border: none;
    color:var(--MediumGray);
    font-size: 18px;
    font-family: var(--EpilogueNormal);
    background-color: transparent;
    margin-left: 1rem;
}
.Log-reg-btn button:last-child,main button{
    border: 2px solid ;
    border-radius: .7rem;
    padding: .7em;
}

/*Main Styling*/
section{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
}
section>*{
    width: 30%;
    height: 100%;
    
}
.leftside,  main{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20%;
}
main{
    height: 60%;
    gap: 10%;
    color: var(--MediumGray);
    margin-inline: auto;
    padding-inline: 1em;
    
}
main h1{
    font-size: clamp(2rem,4vh,5rem);
    margin-top: 15%;
    color: var(--AlmostBlack);
}
main button{
    width: fit-content;    
}
section .partner-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
section .partner-logo>*{
    width:10%;
    min-width: 75px;
    max-width: 114px; 
}
