/*Styling Main section (section 1)*/
@import url('./variables.css');

.Main_section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}
.Main_section>*{
    max-width:500px ;
    width: 70%;
    height: fit-content; 
}
.Main_section img{
    object-fit: contain;
}
.Main_section h1{
    text-align: center;
}
#main_text >*{
    margin: 1.5rem 0;
    text-align: center;
}
#main_text button{
    text-align: center;
    font-weight: 600;
    border-radius: 2rem;
    padding: 1em 4rem;
    cursor: pointer;
    background-color: var(--Cyan);
}
#main_text button:hover{
   background: rgb(73, 249, 231);   
}
/*Note:
- Gerer les marges (done)
- Placer correctement le boutton(done)
- hover effect Active (done)

*/

/*Styling service section (section 2)*/
.Services_section{
    background: url('/HTML_CSS/images/bg-curvy-desktop.svg') no-repeat ; 
    background-size: contain;
    display: flex;
}


.grid{
    min-width: (300px,90%);
    height: 50%;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows:  repeat((4,100px));
    gap: 3rem;
    text-align: center;
    place-content: center;
    place-items: center;
}
.grid >div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: .8em;
    
}

.grid h1{
    width: max-content;
    font-size: 1.10rem;
}
.grid img{
    width: 25%;
    margin-bottom: 1rem;
    object-fit: contain;
}
/*Gerer le responsive de la grid 2 column 2 rows (@media)*/
@media screen and (min-width:600px){
    .grid{
        grid-template-columns: repeat(2,25%) ;
        grid-template-rows:  repeat((2,1fr));
        gap: 7rem;
    }
    .grid img{
        width: 15%;
    }
    section:nth-of-type(1){
        background:url('/HTML_CSS/images/bg-curvy-desktop.svg')  var(--Intro_Email_bg) no-repeat;
        background-size: contain;
        background-position-y: bottom; 
    }
    

}

@media  screen and (width<600px){
    .Services_section{
        align-items: center;
    }
    
}
.Stay_productive_section{
    height: 100vh;
}
.aside
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin:0  auto ;
}
.aside>img{
    width: 70%;
    height: 40%;
    object-fit: contain;
}
/*Gerer le responsive des elements*/
.aside_text{
    width: calc( 90% - 2rem);

}
.aside_text>h1{
     text-align: center;
     margin: 2rem 0;
     /*  white-space: nowrap;*/
     
}
#See_Work_link{
    color: var(--Cyan);
    
}
#See_Work_link> .span{
    display:flex;
    flex-flow: row ;
}

.subspan {
    display: flex;
    gap: .5em;
    flex-flow: row nowrap;
    align-items: center;
    width: inherit;
}
.subspan img{
    width: 1rem;
    object-fit: contain;
}
hr{
    border-color: var(--Cyan);
}
.span{
    width:max-content;
    height: min-content;
}
/*Gerer les espaces entre les elements textbox et l'image
Chacha etait la ... .rappel */

/*Styling Testimony Section*/
.Testimonies_sections{
    position: relative;
    border: 1px solid transparent;
    height: fit-content;
    margin-bottom: 0;

}
.grid_testimoy{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 2em; 
    height: 90%;
    margin-bottom: 18.75rem;
}


.grid_testimoy>*{
   background-color: var(--Testimonials_bg);
   padding: 10%;
   box-shadow: 0 0 .5rem rgba(51, 49, 60, 0.1) ;
   border-radius: .5rem;
}
.grid_testimoy>div:first-child{
    position: relative;
}
.grid_testimoy>div:first-child>img{
    position: absolute;
    z-index:-1 ;
    top: -18%;
    left: 0;
    width: 12.5%;
    max-width: 3em;
    object-fit: contain;
}
.grid_testimoy>div>*{
    margin: 2% auto;
    font-size: .9rem;
}
.grid_testimoy div img:not(.grid_testimoy>div:first-child>img){
    width:15%;
    max-width:2.5em ;
    height: 15%;
    max-height: 2.5em;
    border-radius: 50%;
    object-fit: contain;
}
.grid_testimoy .profile{
    display: flex;
    flex-flow: row nowrap;
    gap: 2%;    
}
.grid_testimoy .profile h1{
    font-size: .9rem;
}
.grid_testimoy .profile>.descripProfile{
    display: flex;
    flex-flow: column nowrap;
}
.grid_testimoy span{
    font-size: clamp(.75rem, 1vh , .90rem);
    color: rgba(255, 255, 255, 0.694);
    
}
/*Correctement gerer le responsive de la section de temoignage et de la section Stayproductive (le texte doit descendre a 700px)*/

/*Styling Form */
#ContactUS{
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%,15%);
    border-radius: .5rem;
    z-index: 1;
    max-width:50rem;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 2.5rem 2.5%;
    background-color: var(--Testimonials_bg);
    box-shadow: 1px 1px .7rem hsl(216, 53%, 9%);
}
#ContactUS p{
    color:white;
    opacity: 1;
}
form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; 
}
form input{
 width: 100%;
 height: fit-content;
 border-radius: 4rem;
 padding: 1.5rem 2rem;
 margin-bottom: 2rem;
 outline: none;
 border: none;
}
form input[type="submit"]{
    background-color: var(--Cyan);
    color: white;
    font-weight: 700;
    font-size: clamp(1rem,80%,1.25rem);
   
}
/*END*/

@media  screen and (width>=600px) {
    .aside_text>h1{
        text-align: left;
        margin: 2rem 0;
        /*  white-space: nowrap;*/
        
   }
    .grid_testimoy{
        
        grid-template-columns: repeat(3,minmax(15rem,1fr));
        grid-template-rows: 100%;
        place-content: start;
        overflow: auto;
        scroll-snap-type: proximity;
        scroll-behavior: smooth;
    }
   
}
@media screen and (width>=768px) {

    #ContactUS  form {
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 1rem;

    }
    #Get_start{
      width: 30%;
    }
}
@media  screen and (width>=900px) {
   
    .aside {
        flex-flow: row nowrap;
        gap: 2em;
    }
    .aside>img{
        width: 50%;
        height: 40%;
        object-fit: contain;
    }
    .Stay_productive_section{
        height: fit-content;
        }
}
