/*IMPORTING FONT*/
@import url('/HTML_CSS/CSS/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Romanesco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Romanesco&display=swap');

/*RESET CSS*/
*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  overflow-x: hidden;
  width: 100vw;
  background:var(--main_bg);
  font-family: "Open Sans", sans-serif;
  line-height:1.5rem ;

}
body>*:not(h1){
    font-size: 0.9rem;
}
section{
    height: fit-content(90%);
    width: 100%;
    margin: 0 0 15rem 0 ;
    color: white;
}
section:nth-of-type(1){
    background:url('/HTML_CSS/images/bg-curvy-mobile.svg') var(--Intro_Email_bg)  no-repeat;
    background-size: contain;
    background-position-y: bottom;
    
}
section>*{
    width: 90%;
    margin: 0 auto;
}

section p:not(h1){
    opacity: .6;

}

h1,button,nav,a{
    color: white;
    transition: 1ms ease-in-out 3ms  ;
    font-family: "Raleway", sans-serif ;
}
button{
    outline: none;
    border: none;
    border-radius:  0.7rem; 
}
a{
    text-decoration: none;
    color: white;

}
li{
    list-style-type: none;
}
section img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}
 footer img{
        object-fit: contain;
    }
