
:root
{
    /*Background- color Variables*/
    --Intro_Email_bg: hsl(217, 28%, 15%);  
    --main_bg : hsl(218, 28%, 13%);
    --Footer_bg: hsl(216, 53%, 9%);
    --Testimonials_bg: hsl(219, 30%, 18%);

    /*Call To Action gradient and error*/
    --Cyan : hsl(176, 68%, 64%);/*(inside call-to-action gradient)*/
    --Blue : hsl(198, 60%, 50%);
    --LightRed_error : hsl(0, 100%, 63%);

    /*Typography*/
    --Font-size_body: 14px;

}